@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: 'AbeeZee' , 'Tajawal';
    background: #131537;
    color: white;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: #121222;
    border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover{
    background: #0b0b1a;
}
header{
    width: 100%;
    height: 50px;
}
header button{
    padding: 5px 15px;
    font-size: 25px;
    font-family: 'AbeeZee' , 'Tajawal';
    background: none;
    border: 1.5px solid #17D4FE;
    border-radius: 4px;
    color: #17D4FE;
    margin: 20px;
    cursor: pointer;
    transition: .8s ease;
    -webkit-transition: .8s ease;
    -moz-transition: .8s ease;
    -o-transition: .8s ease;
    -ms-transition: .8s ease;
}
header button:hover{
    color: #131537;
    background: #17D4FE;
}
.container-login{
    width: 400px;
    height: 250px;
    display: block;
    margin: 20% auto;
}
.container-login label[for="text"]{
    text-align: justify;
    display: block;
    padding: 0 10px;
    margin-left: 18px;
}
.container-login span{
    color: red;
    vertical-align: text-bottom;
}
.container-login input{
    padding: 10px;
    display: block;
    width: 80%;
    margin:  0 auto;
    margin-bottom: 20px;
    border: none;
    background: none;
    border-bottom: 1px solid black;
    font-size: 15px;
    font-family: 'AbeeZee' , 'Tajawal';
    color: white;
}
.container-login button{
    padding: 5px 20px;
    font-size: 15px;
    font-family: 'AbeeZee' , 'Tajawal';
    font-weight: lighter;
    display: block;
    margin: 5% auto;
    border: 1px solid black;
    color: white;
    background: none;
    cursor: pointer;
    transition: .8s ease;
    -webkit-transition: .8s ease;
    -moz-transition: .8s ease;
    -o-transition: .8s ease;
    -ms-transition: .8s ease;
}
.container-login button:hover{
    color: white;
    background: black;
}
.container{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.089);
    width: 100%;
    height: 100%;
    display: none;
}
.popup{
    width: 300px;
    height: 150px;
    display: block;
    margin: 15% auto;
    background: #0b0b1a;
    border-radius: 5px;
    text-align: center;
    animation: animate 1s;
    -webkit-animation: animate 1s;
    -moz-animation: animate 1s;
    -o-animation: animate 1s;
    -ms-animation: animate 1s;

}
@keyframes animate {
    from{
        margin:0 auto;
        opacity: 0;
    }
    to{
        margin: 15% auto;
        opacity: 1;
    }
}
@-webkit-keyframes animate{
    from{
        margin:0 auto;
        opacity: 0;
    }
    to{
        margin: 15% auto;
        opacity: 1;
    }
}
@-o-keyframes animate{
    from{
        margin:0 auto;
        opacity: 0;
    }
    to{
        margin: 15% auto;
        opacity: 1;
    }
}
@-moz-keyframes animate{
    from{
        margin:0 auto;
        opacity: 0;
    }
    to{
        margin: 15% auto;
        opacity: 1;
    }
}
.popup h1{
    font-weight: lighter;
    font-size: 18px;
    padding: 10px;
    display: inline-block;
    margin: 13% auto;
    line-height: 25px;
    text-align: justify;
}

.clock {
    position: relative;
    display: block;
    text-align: center;
    color: #17D4FE;
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 3%;
}
.box{
    display: block;
    margin: 5% auto;
    width: 500px;
    height: 50vh;
    text-align: center;
    position: relative;
    /* background: red; */
}
.box button{
    width: 100px;
    height: 100px;
    border: 3px solid #17D4FE;
    color: #17D4FE;
    background: none;
    border-radius: 100px;
    transition: .8s ease;
    -webkit-transition: .8s ease;
    -moz-transition: .8s ease;
    -o-transition: .8s ease;
    -ms-transition: .8s ease;
    font-family: 'AbeeZee' , 'Tajawal';
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    margin: 50px -40px;

    
}
.box button:hover{
    color: #131537;
    background: #17D4FE;
}
.box h1{
    font-weight: lighter;
    font-size: 25px;
    margin-top: 50px;
    display: inline-block;
}
.preview{
    font-size: 30px;
    line-height: 50px;
    margin-top: 20px;
    width: 100%;
    height: 100px;
    overflow: hidden;
}
p{
    font-size: 30px;
}
.value{
    font-size: 15px;
    line-height: 50px;
    margin-top: 1%;
    animation: aime 1s;
}
@keyframes aime {
    from{
        opacity: 0;
        margin-top: 0;
    }
    to{
        opacity: 1;
        margin-top: 1%;
    }
}
.ContainerBox{
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left:-350px;
    background: #131537;
    box-shadow: 0 0  20px #11122e;
    transition: .8s ease;
    -webkit-transition: .8s ease;
    -moz-transition: .8s ease;
    -o-transition: .8s ease;
    -ms-transition: .8s ease;
}
#close-bar{
    
    border: none;
    text-align: right;
}
.btn-close{
    border: none;
    font-size: 30px;
    margin: 10px;
    padding: 3px 10px;
    cursor: pointer;
    background: none;
    transition: .8s ease;
    -webkit-transition: .8s ease;
    -moz-transition: .8s ease;
    -o-transition: .8s ease;
    -ms-transition: .8s ease;
    border-radius: 4px;
    color: #17D4FE;
}
.btn-close:hover{
    color: #131537;
}

.ContainerBox .header li{
    padding: 10px;
    border-bottom: 1px solid #0b0b1a;
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
    font-weight: 400;
    list-style: none;
}
.footer{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 300px;
    text-align: center;
}
.footer p{
    font-size: 15px;
    font-weight: lighter;
    line-height: 50px;
    letter-spacing: 2px;
    position: relative;
    width: 150px;
    display: block;
    margin: 0 auto;
}
.footer p::after{
    content: "";
    width: 50px;
    height: 2px;
    border-radius: 100px;
    background: #17D4FE;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 46px;
}
.footer ul li{
    display: inline-block;
    padding: 10px 15px;
    list-style: none;
}
.footer ul li a{
    color: white;
    font-size: 20px;
}
@media only screen and (max-width:350px){
    .ContainerBox{
        width: 90%;
    }
    .footer{
        width: 100%;
    }
}
@media only screen and (max-width:480px){
    .container-login{
        width: 100%;
    }
    .popup{
        width: 90%;
    }
    .box{
        width: 100%;
    }
    .clock{
        margin-top: 15%;
    }
}